<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Spring Boot ajax example</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

<!--    https://stackoverflow.com/questions/41548633/spring-mvc-with-thymeleaf-bootstrap-using-webjars-->
    <link rel="stylesheet" type="text/css"
          href="webjars/bootstrap/5.1.3/css/bootstrap.min.css"/>
<!--    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css}" />-->
</head>
<body>

<nav class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Mkyong.com</a>
        </div>
    </div>
</nav>

<div class="container" style="min-height: 500px">

    <div class="starter-template">
        <h1>Spring Boot AJAX Example asdfdsfe</h1>

        <div id="feedback"></div>

        <form class="form-horizontal" id="search-form">
            <div class="form-group form-group-lg">
                <label class="col-sm-2 control-label">Username</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="username"/>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" id="bth-search"
                            class="btn btn-primary btn-lg">Search
                    </button>
                </div>
            </div>
        </form>

    </div>

</div>

<div class="container">
    <footer>
        <p>
            © <a href="http://www.mkyong.com">Mkyong.com</a> 2017
        </p>
    </footer>
</div>


<script type="text/javascript"> </script>
<script type="text/javascript"
        src="webjars/jquery/3.6.0/jquery.min.js"></script>

<script type="text/javascript" src="js/main.js"></script>

</body>
</html>